build
.idea
.vs
.vscode
*~
.DS_Store
Tricore Debug (TASKING)
Tricore Release (TASKING)
illd_tc377tx_ads_lwip-http-server TriCore Debug (TASKING).launch
illd_tc377tx_ads_lwip-http-server TriCore Release (TASKING).launch
